{{!-- 新增修改子栏目首页 --}}

<el-form label-position="right"
         label-width="100px">
    <el-row v-for="(column, index) in addModifyModel.columns"
            class="form-column">
        <el-row :gutter="20"
                class="form-layout">
            <div class="layout-oper">
                <el-button type="primary"
                           icon="el-icon-edit"
                           size="small"
                           round
                           disabled
                           @click="editColumn(column, index)">
                    编辑栏目
                </el-button>
                <el-button type="danger"
                           icon="el-icon-delete"
                           round
                           size="small"
                           @click="deleteColumn(column, index)">
                    删除栏目
                </el-button>
            </div>
            <div class="layout-title"
                 v-if="column.title">
                <label>${column.title}</label>
            </div>
            <el-col v-for="children in column.childrens"
                    :span="children.totalspan">
                <form-field-render :has-title="!!column.title"
                                   :model="children">
                </form-field-render>
            </el-col>
        </el-row>
    </el-row>
</el-form>
<el-button @click="$refs.columnDialog.show = true">添加栏目</el-button>
<add-column-dialog ref="columnDialog"
                   @add-column="addColumn">
</add-column-dialog>

<!--
表单字段渲染
@author xuzengqiang
@date 2018-06-02 16:29:48
-->
<script type="text/x-template"
        id="form-field-render-template">
    {{>components/form-field-render/index}}
</script>

<!-- 
表单字段弹出层
@author xuzengqiang
@date 2018-06-02 16:05:41
-->
<script type="text/x-template"
        id="add-field-dialog-template">
    {{>components/add-field-dialog/index}}
</script>

<!--
新增栏目弹出层
@author xuzengqiang
@date 2018-06-03 11:22:12    
-->
<script type="text/x-template"
        id="add-column-dialog-template">
    {{>components/add-column-dialog/index}}
</script>


<!--
子栏目配置弹出层
@author xuzengqiang
@date 2018-06-04 16:51:36   
-->
<script type="text/x-template"
        id="column-config-dialog-template">
    {{>components/column-config-dialog/index}}
</script>