{{!-- 表单栏目配置 --}}
<el-dialog title="表单栏目配置"
           :visible.sync="show">
    <el-form label-width="100px"
             ref="toolsForm"
             label-position="left">
        <el-form-item label="栏目名称">
            <el-input placeholder="可以不填写,如果填写会生成栏目标题"></el-input>
        </el-form-item>
        <el-form-item label="布局方式">
            <!-- 单栏 -->
            <div class="layout-category"
                 layout="one-column"
                 :class="{
                    selected: layout === 'one-column'
                 }"
                 @click="layout='one-column'">
                <label></label>
                <div class="shade">单栏</div>
            </div>

            <!-- 两栏 -->
            <div class="layout-category"
                 layout="two-column"
                 :class="{
                    selected: layout === 'two-column'
                 }"
                 @click="layout='two-column'">
                <label></label>
                <label></label>
                <div class="shade">两栏</div>
            </div>

            <!-- 三栏 -->
            <div class="layout-category"
                 layout="three-column"
                 :class="{
                    selected: layout === 'three-column'
                 }"
                 @click="layout='three-column'">
                <label></label>
                <label></label>
                <label></label>
                <div class="shade">三栏</div>
            </div>
        </el-form-item>
    </el-form>
    <dialog-footer slot="footer"
                   @ensure="addColumn"
                   @cancel="show=false">
    </dialog-footer>
</el-dialog>