<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目自动构建工具</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="static/gallery/element/element.css">
    <script type="text/javascript" src="static/common/dom.js"></script>
    <script type="text/javascript" src="static/gallery/vue/vue.min.js"></script>
    <script type="text/javascript" src="static/gallery/element/element.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
</head>

<body>
    <div id="app">
        <el-button type="primary">{{title}}</el-button>
    </div>
</body>

</html>