body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
#app .el-tag.selected {
  border: 1px solid #0b445a;
  background: #256f8d;
  color: #fff;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.el-autocomplete .el-input .el-input__inner {
  height: 40px;
  width: 220px;
  padding: 0 20px;
}
.form-column {
  /* padding:0px 10px; */
}
.form-layout {
  /* border: 2px solid #ddd; */
  min-height: 100px;
  padding: 0px 0px 20px;
  margin: 20px 0px;
}

.form-layout:hover {
  /* border:2px solid #279fce; */
}
.form-layout .layout-oper {
  height: 40px;
  padding-left: 10px;
}
.form-layout .layout-title,
.form-field-render .title {
  height: 30px;
  background: #f5f5fa;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.form-layout .layout-title label,
.form-field-render .title label {
  font-weight: bold;
  color: #333;
  line-height: 30px;
  letter-spacing: 0px;
  font-size: 14px;
  margin-left: 20px;
}
.form-field-render {
  min-height: 300px;
  border: 1px dashed #dedede;
}
.form-field-render.setting {
  background: #eee;
}
.form-field-render .column-setting {
  padding: 10px;
  font-size: 30px;
  color: #bbb;
}
.form-field-render .form-field-column{
  position: relative;
}
.form-field-render .form-field-oper {
  height: 40px;
  padding: 5px;
}
.form-field-render .form-field-oper button {
  float: right;
}
.form-field-render .form-field-item{
  border:1px dashed #DDD;
  padding:2px;
  border-radius:5px;
  height:72px;
  overflow: hidden;
  position: relative;
}
.form-field-render .form-field-item .label{
  color:#00b7ff;
  cursor: pointer;
}
.form-field-render .key-message {
  line-height: 13px;
  font-size: 13px;
  color: #afafaf;
  display: block;
  width:300px;
  font-weight: normal;
}
.form-field-render .form-field-column .field-delete{
  position: absolute;
  top:-4px;
  right:-2px;
  color:#FFF;
  cursor: pointer;
  width:16px;
  height:16px;
  font-size:12px;
  display: block;
  padding:0px;
  text-align: center;
  line-height:13px;
}
.layout-category {
  width: 120px;
  height: 50px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
}
.layout-category .shade {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.layout-category.selected {
  border: 2px solid rgba(197, 100, 153, 0.986);
}
.layout-category.selected .shade {
  /* color:rgba(159, 110, 204, 0.959) */
  color: #fff;
}
.layout-category[layout='one-column'] label {
  width: 120px;
  height: 50px;
  background: rgb(121, 153, 206);
  float: left;
}
.layout-category[layout='two-column'] label {
  width: 60px;
  height: 50px;
  background: #ddd;
  float: left;
  background: #ddcbf8;
  transition: all 0.5s;
}
.layout-category[layout='two-column'] label:first-child {
  margin-left: 0px;
  background: rgb(121, 153, 206);
}
