body {
  padding: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
#app .el-tag.selected {
  border: 1px solid #0b445a;
  background: #256f8d;
  color: #fff;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.el-autocomplete .el-input .el-input__inner {
  height: 40px;
  width: 220px;
  padding: 0 20px;
}
.form-column {
  padding: 0px 10px;
}
.form-column .form-layout {
  min-height: 100px;
  padding: 0px 0px 20px;
  margin: 20px 0px;
  border: 1px dashed rgb(223, 16, 16);
}

.form-column .form-layout .layout-oper {
  padding: 10px;
}
.form-column .form-layout .layout-title {
  height: 30px;
  background: #f5f5fa;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.form-layout .layout-title label{
  font-weight: bold;
  color: #333;
  line-height: 30px;
  letter-spacing: 0px;
  font-size: 14px;
  margin-left: 20px;
}

.layout-category {
  width: 120px;
  height: 50px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
}
.layout-category .shade {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.layout-category.selected {
  border: 2px solid rgba(197, 100, 153, 0.986);
}
.layout-category.selected .shade {
  /* color:rgba(159, 110, 204, 0.959) */
  color: #fff;
}
.layout-category[layout='one-column'] label {
  width: 120px;
  height: 50px;
  background: rgb(121, 153, 206);
  float: left;
}
.layout-category[layout='two-column'] label {
  width: 60px;
  height: 50px;
  background: #ddd;
  float: left;
  background: #ddcbf8;
  transition: all 0.5s;
}
.layout-category[layout='two-column'] label:first-child {
  margin-left: 0px;
  background: rgb(121, 153, 206);
}

/**
 * 表单渲染组件
 */
 .form-field-render {
  min-height: 300px;
}
.form-field-render.setting {
  background: #eee;
}
.form-field-render .column-setting {
  padding: 10px;
  font-size: 30px;
  color: #bbb;
}
.form-field-render .form-field-column {
  position: relative;
}
.form-field-render .form-field-oper {
  padding: 5px;
  overflow: hidden;
  border: 1px solid #eee;
}
.form-field-render .form-field-oper button {
  float: left;
  border: 0 none;
  color: rgb(17, 82, 82);
  background: transparent;
  font-size: 14px;
}
.form-field-render .form-field-oper button[disabled] {
  color: #afafaf;
}
.form-field-render .form-field-oper button:hover {
  background: transparent;
  color: #666;
}
.form-field-render .form-field-item {
  border: 1px dashed #ddd;
  padding: 2px;
  border-radius: 5px;
  height: 72px;
  overflow: hidden;
  position: relative;
}
.form-field-render .form-field-item .label {
  color: #00b7ff;
  cursor: pointer;
}
.form-field-render .key-message {
  line-height: 13px;
  font-size: 13px;
  color: #afafaf;
  display: block;
  width: 300px;
  font-weight: normal;
}
.form-field-render .form-field-column .field-delete {
  position: absolute;
  top: -4px;
  right: -2px;
  color: #fff;
  cursor: pointer;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: block;
  padding: 0px;
  text-align: center;
  line-height: 13px;
}

/**
 * 添加字段栏目
 */
.fields-column-container{
  /* border:1px dashed rgb(110, 187, 191); */
  /* margin:10px 0px;padding:4px; */
}
.fields-column-container .add-field{
  background:rgb(196, 71, 140);
  color:#FFF;
  border:0 none;
  font-size:14px
}

/**
 * 选项卡自栏目
 */
.tab-column-container {

}
.tab-column-container .tab-oper{
  padding:5px 0px;
  text-align:center
}
.tab-column-container .tab-oper .el-button{
  background:rgb(60, 160, 147);
  color:#FFF;
  border:0 none;
  font-size:14px;
}

/**
 * 栏目标题组件
 */
.column-title{
  height: 30px;
  background: #f5f5fa;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  line-height: 30px;
}
.column-title label{
  font-weight: bold;
  color: #333;
  line-height: 30px;
  letter-spacing: 0px;
  font-size: 14px;
  margin-left: 20px;
}

.column-block{
  border:1px dashed rgb(110, 187, 191);
  margin:10px 0px;padding:4px;
}
.column-block.outer{
  border:1px dashed rgb(166, 70, 208);
}
