body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.form-layout {
  border-bottom:1px solid #DDD;
  min-height: 100px;
  padding: 10px 0px;
}
.form-layout .layout-title{
  height:30px;
  background: #f5f5fa;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.form-layout .layout-title label{
    font-weight: bold;
    color: #333;
    line-height: 30px;
    letter-spacing: 0px;
    font-size: 14px;
    margin-left: 20px;
}
.form-field-render{
  min-height:300px
}
.form-field-render.setting{
  border:1px dashed #DEDEDE;
}
.form-field-render .column-setting{
  padding:10px;
  font-size:30px;
  color:#DDD
}
.layout-category {
  width:120px;
  height:50px;
  float:left;
  margin-right:15px;
  cursor:pointer;
  position: relative;
  border:2px solid transparent
}
.layout-category .shade {
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  line-height:50px;
  text-align:center;
}
.layout-category.selected{
  border:2px solid rgba(100, 145, 197, 0.959)
}
.layout-category.selected .shade{
  /* color:rgba(159, 110, 204, 0.959) */
}
.layout-category[layout=one-column] label{
  width:120px;
  height:50px;
  background:#DDD;
  float:left
}
.layout-category[layout=two-column] label{
  width:58px;
  height:50px;
  background:#DDD;
  margin-left:4px;
  float:left;
}
.layout-category[layout=two-column] label:first-child{
  margin-left:0px;
}
.layout-category[layout=three-column] label{
  width:38px;
  height:50px;
  background:#DDD;
  margin-left:3px;
  float:left
}
.layout-category[layout=three-column] label:first-child{
  margin-left:0px;
}