<template>
  <section>
    <query-table ref="queryTable"
                 :tables="queryTableConfig.tables"
                 :tools="queryTableConfig.tools"
                 :option="queryTableConfig.option"
                 :form-tools="queryTableConfig.formTools">
    </query-table>
    <!-- 通用查询 -->
    <custom-filter ref="customFilter"
                   :module="customFilterConfig.module">
    </custom-filter>
    {{#if hasDialog}}
    <!-- 弹出层 -->
    <kye-dialog v-bind="dialogOption"
                @close="closeDynamicDialog"
                :visible.sync="dialogOption.show">
        <component :is="dialogOption.view"
                   :dialogData="dialogData"
                   @close="closeDynamicDialog">
        </component>
    </kye-dialog>
    {{/if}}
  </section>
</template>
<script>
import mixins from './mixins'
export default {
  mixins
}
</script>