<!DOCTYPE html>
<html lang="en">

<head>
    {{>partials/header/index}}
</head>

<body>
    <div id="app">
        <el-row>
            <el-col :span="8">
                {{!-- 菜单配置 --}}
                <menu-config ref="menu" />
            </el-col>
        </el-row>
        <el-tabs v-model="currentModule">
            <el-tab-pane label="首页配置"
                         name="index">
                {{>partials/index/index}}
            </el-tab-pane>
            <el-tab-pane label="新增/修改配置"
                         name="form">
                {{>partials/addModify/index}}
            </el-tab-pane>
            <el-tab-pane label="详情页配置"
                         name="detail">
            </el-tab-pane>
        </el-tabs>
        <el-button type="primary"
                   @click="transport">开始构建</el-button>
    </div>
</body>

<!--
菜单配置组件
@author xuzengqiang
@date 2018-06-03 14:17:25
-->
<script type="text/x-template"
        id="menu-config-template">
    {{>components/menu-config/index}}
</script>

<!--
dialog底部
@author xuzengqiang
@date 2018-06-03 11:00:46
-->
<script type="text/x-template"
        id="dialog-footer-template">
    {{>components/dialog-footer/index}}
</script>

</html>